@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: azure;
}
body , html{
  overflow-x: hidden !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bs1{
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.ant-row{
  margin: 0 20 !important;
}
.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9999;
}
h1{
  font-size: 30px;
  font-weight: bold;
  color : orangered;
}
p{
  margin: 5px !important;
  
  padding: 0;
}
.section__title {
  color: #000d6b;
  font-weight: 600;
  font-size: 2rem;
}

.section__subtitle {
  color: #f9a826;
  font-weight: 600;
  font-size: 1.2rem;
}

.section__description {
  color: #7c8a97;
  font-size: 0.9rem;
  line-height: 30px;
}

@media only screen and (max-width: 768px) {
  .testimonial p {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }

  .testimonial h6 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 576px) {
  .testimonial img {
    width: 60px !important;
    height: 60px !important;
    object-fit: cover;
  }
}


section {
  padding: 50px 0px;
}
.btn1{
  box-shadow: none !important;
  background-color : white !important;
  color: orangered !important;
  border: 1px solid orangered !important;
  padding: 5px 15px !important;
  outline: none !important;
}
.bt1:focus{
  border: none;
}
button{
  padding: 3px 10px !important;
}
.header{
  padding: 10px;
  
}
.header .ant-btn{
  box-shadow: none !important;
  background-color : white !important;
  color: orangered !important;
  border: 1px solid orangered !important;
  padding: 5px 15px !important;
  outline: none !important;
}
.content{
  min-height: 90vh;
  
}
.footer{
  background-color: aliceblue;
  padding: 10px;
}


/* this is just for ui purpose , no functionality is related */
.car{
  border-radius: 5px;
  margin-top: 100px;
  height: 160px;
  transition: 0.3s;
}
.car:hover{
  height :220px;
}
.car:hover > .car-content{

    opacity: 1;
    transform : translateY(-40px)

}
.carimg{
  height:180px;
  width: auto;
  border-radius: 5px;
  transform: translateY(-50px);
}
.car-content{
  transform: translateY(-200px);
  opacity: 0;
  transition: 0.3s;
}
.login{
  background-color: black;
  padding-top: 50px;
  min-height: 100vh;
}
.login label , .login h1{
  color: white !important;
  opacity: 0.6;
}
.login-form{
  background-color: #1F1F1F;
}
.login-form input{
  background-color: #333333 !important;
  border : none !important;
  color: white;
  opacity: 0.5;
}
.login-logo{
  position: absolute;
  left:0;
  right:0;
  top: 60%;
  bottom: 50%;
  transform: translateY(-50% , -50%);
  font-size:45px;
  opacity: 0.2 !important;
  

}
.login a{
  color: white !important;
  opacity: 0.5;
}

.carimg2{
  height: 400px;
  border-radius: 10px;
  width: auto;
}

svg{
  height:20px !important;
  width : 20px !important;
}
a{
  color: orangered !important;
}

/* FOOTER */
.footer {
  background:#1F1F1F;
  padding-top: 50px;
  padding-bottom: 15px;
}

.footer__logo i {
  color: #fff;
  font-weight: 400;
}

.footer__logo span {
  color: #fff;
  font-weight: 500;
}

.footer__logo-content {
  color: rgba(255, 255, 255, 0.715);
  margin-top: 15px;
  line-height: 30px;
}

.quick__link {
  border: none !important;
  background: transparent !important;
}

.quick__link a {
  color: rgba(255, 255, 255, 0.715);
  text-decoration: none;
  font-weight: 300;
  transition: 0.3s;
}

.quick__link a:hover {
  color: #f9a826;
}

.footer__link-title {
  color: #fff;
}

.office__info {
  color: rgba(255, 255, 255, 0.715);
  font-weight: 300;
}

.newsletter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  border: 1px solid #7c8a972f;
  border-radius: 50px;
  background: orangered;
}

.newsletter input {
  background: transparent;
  color: #fff;
  border: none;
  outline: none;
}

.newsletter span i {
  color: #fff;
}

.footer__bottom {
  border-top: 1px solid #7c8a972f;
}

@media only screen and (max-width: 768px) {
  .footer__logo-content {
    font-size: 0.8rem;
  }

  .quick__link,
  .office__info {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }

  .footer__link-title {
    font-size: 1rem;
    margin-top: 15px;
  }

  .footer__bottom p {
    font-size: 0.7rem;
  }
}

/* CONTACT */
.social__link-icon {
  text-decoration: none;

  color: #000d6b;
  font-weight: 500;
  font-size: 1.2rem;
}

.contact__btn {
  padding: 7px 15px;
  background: #000d6b;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .contact__btn {
    margin-bottom: 40px;
    font-size: 0.8rem;
  }
}

/* ABOUT US */
.about__section-item {
  column-gap: 3rem;
}

.about__section-item p i {
  color: #f9a826;
  font-size: 1.1rem;
}

@media only screen and (max-width: 992px) {
  .about__section-content h2 {
    font-size: 1.5rem;
  }
  .about__section-item {
    column-gap: 3rem;
  }
  .about__section-item p {
    font-size: 0.6rem;
    margin-bottom: 0;
  }

  .section__description i {
    font-size: 0.8rem !important;
  }
}

@media only screen and (max-width: 768px) {
  .about__img {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 576px) {
  .about__section {
    margin-top: 280px;
  }
}
